.*.swp
/out*/
.DS_Store
.third_party.mac/
.third_party.windows/
src/third_party/fftw-3.3.8/.build/
src/third_party/fftw-3.3.8/FFTW3Config.cmake
src/third_party/fftw-3.3.8/FFTW3ConfigVersion.cmake
src/third_party/fftw-3.3.8/autom4te.cache/
src/third_party/fftw-3.3.8/fftw3.pc
src/third_party/fftw-3.3.8/tools/fftw-wisdom.1
src/third_party/
