ADD_ARCHIVE_FLAG := -Wl,--whole-archive
ARCHIVES_ADDED_FLAG := -Wl,--no-whole-archive
CXX=x86_64-w64-mingw32-g++
CC=x86_64-w64-mingw32-gcc
AR=x86_64-w64-mingw32-ar
MINGWFLAGS = -mwin32 -mconsole -march=x86-64
CXXFLAGS += ${MINGWFLAGS}
THIRD_PARTY_BUILD := .third_party.windows
OUTDIR := out.windows

# vim: set noexpandtab :

